
extends ../layouts/main-layout.pug


block content
    if errorMessage
        div.alert.alert-danger.col-sm-7 #{errorMessage}
    form(action="/new-password" method="POST").mt-5
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        input(type="hidden" name="userId" value=`${userId}`)
        input(type="hidden" name="passwordToken" value=`${passwordToken}`)
        .form-group.row
            label(for="password").col-sm-2.col-form-label Yeni Şifrenizi Girin
            .col-sm-5
                input.form-control#password(type="password" name="password" required minlength="8")
        .form-group.row 
            .col-sm-5.offset-sm-2.mt-2
                input(type="submit" value="Sıfırla").btn.btn-primary

