        
nav.navbar.navbar-icon-top.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') SoruKonu
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a(href='/konular' class=(path === "/konular"?"nav-link active ayar":"nav-link ayar"))
          i.fa.fa-book-open
            //- span.badge.badge-info 34
          | Konularım
      li.nav-item
        a(href='/sorular' class=(path === "/sorular"?"nav-link active ayar":"nav-link ayar"))
          i.fa.fa-question-circle
            //- span.badge.badge-success 11
          | Sorularım
      li.nav-item
        a(href='/istatistikler' class=(path === "/istatistikler"?"nav-link active ayar":"nav-link ayar"))
          i.fa.fa-signal
          | İstatistikler
      if isAuthenticated
        li.nav-item
          a(href='/profil' class=(path === "/profil"?"nav-link active ayar":"nav-link ayar"))
            i.fa.fa-user-circle
            | Profilim

        li.nav-item.cikis
          a(href='/logout' class=(path === "/logout"?"nav-link active ayar":"nav-link ayar"))
            i.fa.fa-power-off
            | Çıkış
      if !isAuthenticated
        li.girisbtn.nav-item
          a(href='/login' class=(path === "/login"?"nav-link active ayar":"nav-link ayar"))
            i.fa.fa-power-off
            | Giriş






        
